/* Header CSS */
#header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px;
}

.row {
    display: flex;
    flex-flow: row;
}

.icon {
    height:50px;
}

#align-icons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 250px;
    margin: 50px 0px;
}

#search_bar {
    margin: 10px 10px 0px;
    width: 250px;
    border-radius: 10px;
    height: 15px;
    padding: 2px 8px;
}

.autocomplete {
    margin-left: 10px;
    width:100%;
    height:20px;
    background-color:white;
    border: solid grey 0.2px;
    cursor: pointer;
}

.autocomplete:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

#top_left {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    width: 600px;
    height: 100px;
}

#Logo {
    background-image: url("logo.png");
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}

#search {
    margin: 50px 30px;
    z-index: 3;
}

/* Footer CSS */
#footer {
    margin-top: 200px;
}

#ABOUT {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}

.align-smaller-abouts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    width: 200px;
}

.text-align {
    text-align: justify;
}
