/* Header CSS */
#header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0px 1rem;
    color: black;
    background-color: #11112d;
    width: 100%; 
    height: 3rem;
    opacity: 0.8;
    font-family: 'Livvic', sans-serif;
}

.row {
    display: flex;
    flex-flow: row;
}

.icon {
    height:3rem;
}

#top_right {
    width: 21rem;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center
}

#user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 5.3rem;
    cursor: pointer;
}

#box-container {
    display: none;
    height: 3.5rem;
    width: 8.8rem;
    margin-top: 4.2rem;
    position: absolute;
    color: black;
    text-align: center;
    z-index: 1;
    opacity: 1;
}

.box {
    height: 50%;
    width: 100%;
    line-height: 150%;
    background-color: #f9f9f9;
    border: black solid 0.5px;
    display: block;
    cursor: pointer;
}

#box1{
    border-bottom: 0px;
}

/* Set dropdown for user */
#user:hover #box-container {
    display: block;
}

.box:hover {
    background-color: #C0C0C0;
    color: DodgerBlue;
}

#search_bar {
    margin: 10px 10px 0px;
    width: 250px;
    border-radius: 10px;
    height: 15px;
    padding: 2px 8px;
}

.autocomplete {
    margin-left: 10px;
    width:100%;
    height:20px;
    background-color:white;
    border: solid grey 0.2px;
    cursor: pointer;
}

.autocomplete:hover {
    background-color: #C0C0C0;
}

.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

#top_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    width: 600px;
    height: 100px;
}

#Logo {
    background-image: url("logo.png");
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

#search {
    height: 48.8px;
    z-index: 3;
}




/* Footer CSS */
#footer {
    /* margin-top: 100px; */
    width: 100%;
    height: 25rem;
    font-family: 'Livvic', sans-serif;
    background-color: #11112d;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#ABOUT {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}

.align-smaller-abouts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    width: 200px;
}

.text-align {
    text-align: justify;
}
