body {
    background-color: rgb(38, 38, 38);
    color: white;
}

.w-100 {
    width: 100px;
}

.h-500px {
    height: 500px;
}

.d-flex {
    display: flex;
}
.bg-black {
    background-color: lightskyblue ;
}

.w-250 {
    width: 250px;
}

.h-200px {
    height: 200px;
}

.bg-white {
    background-color: white;
}

.m-10px {
    margin: 10px;
}