html,body,#root,#background {
    width: 100%;
    height: 120%;
    margin: 0px;    
}

.row {
    display: flex;
    flex-flow: row; 
}

#top {
    width: 100%;
    height: 75px;
}

#circle-container {
    background-image: url("circle.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center
}

.square {
    padding:15px 10px;
    width:325px;
    height:325px;
    text-align:justify;
    border: solid grey 3px;
    border-radius: 15px;
    background-color: white;
}

#circle-bot {
    margin-top: 100px;
    margin-bottom: 100px;
    display:flex;
    flex-flow:row;
    justify-content:space-evenly;
}

.rectangle {
    padding:15px 15px;
    border: solid grey 3px;
    border-radius: 15px;
    background-color: white; 
    width: 40%;
    text-align: justify
}