html,body,#root {
    width: 100%;
    height: 100%;
    margin: 0px;    
}

.row {
    display: flex;
    flex-flow: row; 
}

#btn-container {
    margin-top: 10px;
    width: 500px;
    justify-content: space-between;
    
}

#back-btn {
    background-color: rgb(170, 20, 170);
    color: white;
    border-radius: 10px 0px 0px 10px;
    width: 150px;
    text-align: center;
    border-right-color: white;
    border-width: 30px;
    cursor: pointer;
    }

#next-btn {
        background-color: rgb(170, 20, 170);
        color: white;
        border-radius: 0px 10px 10px 0px;
        width: 150px;
        text-align: center;
        border-left-color: white;
        border-width: 30px;
        cursor: pointer;
        }



#top {
    width: 100%;
    height: 75px;
}

#content {
    width: 100%;
    height: 100%;
}

#q-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#q-2 {
    width: 100%;
    height: 100%;
}

#progress_container {
    height: 100%;
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}


#finish-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 400px;
    height: 100%;
}
#q-sequence {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}



#question,#input {
    width: 15rem;
    height: 15rem;
    border: black solid 1px;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    font-size: large;
    border-color: blueviolet;
}

#input {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    border-color: white;
    background-color: white;

}

#view-all-btn,#submit-btn {
    padding: 1px 6px;
    margin: 10px;
    cursor: pointer;
}

.options {
    cursor: pointer;
    height: 20%;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.options:hover {
    background-color: gray;
    color: white;
    font: bold;
    /* border: 0px; */
}


#view-all-container,#submit-container {
    display: flex;
    justify-content: center;
    
}

#answers-container {
    border: solid black 1px;
    width: 750px;
    height: 100%;
    
}

.number {
    width: 30px;
    height: 30px;
    border: solid black 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8.5px;
    border-radius: 7px;
}

.label {
    margin-left: 60px;
    height: 100%;
    display: flex;
    align-items: center;
}